# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# local project demo videos
public/media/projects/**/video/*.mp4
public/media/projects/**/video/*.mov
public/media/projects/**/video/*.m4v
public/media/projects/**/video/*.webm
.docs
